doctype html
head
    title edit comment
    link(rel='stylesheet', href='/stylesheets/style.css')
body#body
    script(type='text/javascript').
        let comment_string = "";
        comment_string += "<form action='/boards/"+!{boardIdx}+"/comments/"+!{commentIdx}+"?_method=PUT' method='post'>"
        +"<input type='textarea', placeholder='댓글을 입력하세요' name='content'/>"
        +"<input type='submit' value='댓글 수정' name='submit'/></form>"
        body.innerHTML += comment_string;